<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.su.ateliershop.mapper.CarouselMapper">
    <select id="findAll" resultType="com.su.ateliershop.entity.Carousel">
        SELECT id, title, subtitle, img, link, sort_order AS sortOrder
        FROM carousel ORDER BY sort_order, id
    </select>
</mapper>
